@import url(./general.css);

:root {
    --clr-secondary-800: #5b5c61;
    --clr-secondary-200: #f8f8f8;
    --clr-secondary-400: #dfe6e9;


    --clr-accent-800: #673a8b;
    --clr-accent-400:  #36498c;
    --clr-accent-200: #d77dec;

    --clr-warning-400: #ffc107;
    --clr-warning-200: hsla(45, 100%, 51%, 0.4);
    font-size: 0.76rem;
}

.btn-primary-brand {
    color: var(--clr-secondary-200);
    background-color: var(--clr-accent-400);
    transition: all 300ms ease;
}

.btn:first-child:hover {
    color: var(--clr-secondary-200);
    background-color: var(--clr-accent-800);
}

.btn-primary-brand:hover,
.btn-primary-brand:active,
.btn-primary-brand:first-child:active {
    color: var(--clr-secondary-200);
    background-color: var(--clr-accent-800);
}