.bg-grey {
    background-color: #f8f8f8;
}

.purple {
    color: #430671;
}

.bg-purple {
    background-color: #430671;
}

.bg-purple:hover {
    background-color: #ffffff;
    color: #430671 !important;
    outline: 1px solid #430671;
}

.text-color {
    color: #36498C
}

label {
    font-size: 1.2rem;
}

.logo-with-text img {
    max-width: 25rem;
}

.logo-with-text span {
    font-size: 5rem;
}