<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="./css/nav-bar.css" />
        <link rel="stylesheet" href="./css/general.css" />
" href="./        <link rel="stylesheetcss/reading-list.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />
        <title>Lecturas</title>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
            defer
        ></script>
        <script src="/js/nav-bar.js" type="module" defer></script>
    </head>
    <body>
        <!---Bootstrap JS-->

        <main class="p-1">
            <h1 class="">Lista de textos</h1>
            <article class="m-3">
                <section class="reading-card mt-5 shadow-lg">
                    <div class="position-relative overflow-hidden reading-img flex-shrink-0">
                        <img src="./assets/bg-placeholder-login.png" alt="" />
                        <a class="overlay text-decoration-none" href="./readings/1">
                          <span class="d-flex fs-3 gap-3 text-white fw-bold">
                            <i class="bi bi-book"></i>
                            Leer
                          </span>
                        </a>
                    </div>
                    <div class="px-2 py-3">
                        <hgroup class="">
                            <span class="reading-category">Categoría</span>
                            <h3 class="reading-title">Título del texto</h3>
                        </hgroup>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Saepe placeat, optio laborum tenetur illum
                            laudantium eligendi quas maxime, minus ab
                            consequatur. Tempore sint esse perspiciatis corrupti
                            voluptate. Dicta, voluptate iure!
                        </p>
                        <div class="reading-badges my-3">
                          <span class="badge bg-green fs-6">Historia</span>
                          <span class="badge bg-blue fs-6">Literatura clásica</span>
                          <span class="badge bg-yellow fs-6">Fácil</span>
                        </div>
                    </div>
                </section>
            </article>
        </main>

        <!---Bootstrap JS-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
        <!-- Sweet Alert 2-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
