<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs', { title: 'Attention '}) %>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="radio">
                <video
                    class="w-100"
                    src="./assets/video-1.mp4"
                    type="video/mp4"
                    autoplay
                    loop
                ></video>
            </div>
            <div>
                <h1 class="fs-1">Potencia tu capacidad de concentración</h1>
            </div>
            <article class="m-auto" id="grid">
                <section
                    class="d-flex flex-column flex-xl-row p-3 m-4 mx-md-5 justify-content-center gap-5 text-justify"
                >
                    <div class="fs-4 w-100 w-xl-50 parrafos">
                        <p class="w-100">
                            En este espacio, te invitamos a explorar técnicas y
                            estrategias efectivas para
                            <b
                                >mejorar y potenciar tu capacidad de
                                concentración</b
                            >. Aquí encontrarás recursos prácticos, consejos y
                            herramientas que te ayudarán a desarrollar una
                            <b
                                >mente enfocada y resistente a las
                                distracciones</b
                            >.
                        </p>
                        <br />
                        <p class="w-100">
                            En un mundo lleno de distracciones constantes,
                            <b
                                >la capacidad de concentración se ha convertido
                                en un activo valioso</b
                            >. Sabemos lo difícil que puede ser mantener el
                            enfoque en una tarea o proyecto, especialmente
                            cuando estamos rodeados de notificaciones,
                            interrupciones y exigencias constantes.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center max-w-25">
                        <img
                            src="./assets/imagen-1.png"
                            alt="imagen de niño feliz"
                            class="im-1 object-fit-cover shadow-lg"
                        />
                    </div>
                </section>
                <section
                    class="d-flex flex-column flex-xl-row-reverse m-4 mx-md-5 justify-content-center gap-5 text-justify"
                >
                    <div class="fs-4 w-10 w-xl-50 parrafos">
                        <p class="w-100">
                            <b
                                >La concentración no solo es clave para aumentar
                                nuestra productividad</b
                            >, sino que también nos permite disfrutar plenamente
                            de nuestras experiencias y realizar un trabajo de
                            mayor calidad. A través de la práctica y el
                            aprendizaje continuo, podemos entrenar nuestra mente
                            para ser más selectiva y disciplinada en cuanto a
                            dónde dirigimos nuestra atención.
                        </p>
                        <p class="w-100">
                            Nuestro
                            <b
                                >objetivo es brindarte información y apoyo para
                                que puedas alcanzar un nivel óptimo de
                                concentración</b
                            >
                            en todas las áreas de tu vida. Ya sea que estés
                            estudiando, trabajando en un proyecto importante o
                            simplemente deseas mejorar tu enfoque en las
                            actividades cotidianas, estamos aquí para ayudarte.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center max-w-25">
                        <img
                            src="./assets/imagen-2.png"
                            alt="imagen de niño feliz"
                            class="im-1 object-fit-cover shadow-lg"
                        />
                    </div>
                </section>
            </article>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
