<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/index.css" />
    <title>Attention</title>
    <link rel="shortcut icon" href="/assets/logo-1.png" type="image/png">
  </head>
  <body>
      <%- include('partials/header', { username: username }) %>
    <main>
      <hgroup class="m-large d-flex justify-content-start align-items-center flex-column gap-2 height-full">
          <h1 class="header-font">
          ¡Bienvenido a nuestra web, donde la concentración se convierte en un superpoder!
          </h1>
          <% if (username) { %>
            <a class="boton flex-grow-0 text-decoration-none" href="/workspace/timer">
              Empezar Ahora
              <i class="bi bi-arrow-right fs-2 arrow-animation"></i>
            </a>
          <% } else { %>
            <a class="boton flex-grow-0 text-decoration-none" href="/login.html">
              Empezar Ahora
              <i class="bi bi-arrow-right fs-2 arrow-animation"></i>
            </a>
          <% } %>
      </hgroup>
          <article class="m-auto" id="grid">
            <h2 class="d-flex justify-content-center text-center fw-bold pb-4">Potencia tu capacidad de atención</h2>
              <section class="d-flex flex-column flex-xl-row p-3 m-4 mx-md-5 justify-content-center gap-5 text-justify">
                <div class="fs-4 w-100 w-xl-50 parrafos">
                  <p class="w-100">
                  En este espacio, te invitamos a explorar técnicas y estrategias
                  efectivas para <b>mejorar y potenciar tu capacidad de concentración</b>. Aquí
                  encontrarás recursos prácticos, consejos y herramientas que te
                  ayudarán a desarrollar una <b>mente enfocada y resistente a las
                  distracciones</b>.
                  </p><br>
                  <p class="w-100">
                  En un mundo lleno de distracciones constantes, <b>la capacidad de
                  concentración se ha convertido en un activo valioso</b>. Sabemos lo
                  difícil que puede ser mantener el enfoque en una tarea o proyecto,
                  especialmente cuando estamos rodeados de notificaciones,
                  interrupciones y exigencias constantes.
                  </p>
                </div>
                <div class="d-flex justify-content-center max-w-25">
                  <img src="./assets/imagen-1.png" alt="imagen de niño feliz" class="im-1 object-fit-cover shadow-lg">
                </div>  
              </section>
              <section class="d-flex flex-column  flex-xl-row-reverse m-4 mx-md-5 justify-content-center gap-5 text-justify">
                <div class="fs-4 w-10 w-xl-50 parrafos">
                  <p class="w-100">
                  <b>La concentración no solo es clave para aumentar nuestra
                  productividad</b>, sino que también nos permite disfrutar plenamente
                  de nuestras experiencias y realizar un trabajo de mayor calidad. A
                  través de la práctica y el aprendizaje continuo, podemos entrenar
                  nuestra mente para ser más selectiva y disciplinada en cuanto a
                  dónde dirigimos nuestra atención.
                  </p>
                  <p class="w-100">
                  Nuestro <b>objetivo es brindarte información y apoyo para que puedas
                  alcanzar un nivel óptimo de concentración</b> en todas las áreas de tu
                  vida. Ya sea que estés estudiando, trabajando en un proyecto
                  importante o simplemente deseas mejorar tu enfoque en las
                  actividades cotidianas, estamos aquí para ayudarte.
                 </p>
                </div>
                <div class="d-flex justify-content-center max-w-25">
                  <img src="./assets/imagen-2.png" alt="imagen de niño feliz" class="im-1 object-fit-cover shadow-lg">
                </div>
              </section>
          </article>
    </main>
    <footer class="bd-footer py-2 py-md-2 mt-5 bg-body-tertiary ab">
      <div class="container py-2 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
              <img src="./assets/logo-1.png" alt="logo pequeño" class="logo-f">
              <span class="fs-5">Attention</span>
            </a>
            <ul class="list-unstyled small">
              <li class="mb-2">Diseñado y construido con todo el amor del mundo por el <a class="text-decoration-none af" href="/docs/5.3/about/team/">Attention team.</a></li>
              <li class="mb-2">© Copyright 2023</li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-decoration-none af" href="/">Inicio</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-decoration-none af" href="/docs/5.3/getting-started/">e-mail</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Ejercicios</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-decoration-none af" href="https://github.com/twbs/bootstrap">Lectura 5</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Juegos</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-decoration-none af" href="https://github.com/twbs/bootstrap/issues">Mentales</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</htm