<%- include('partials/head.ejs', { title: title }) %>
<link rel="stylesheet" href="/css/calendar.css">
<script type="module" src="/js/calendar.js"></script>
<link rel="stylesheet" href="/css/timer.css">
</>
<body>
    <%- include('partials/workspace-lateral-bar.ejs') %>
        <%- include(mainContentPartial, {
          username: username,
        }) %>
    <%- include('partials/workspace-footer.ejs') %>
  </body>
</html>