<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/report.css" />
<link rel="stylesheet" href="/css/report-page.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js" type="module" defer></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</head>
<body>
<%- include('partials/workspace-lateral-bar.ejs') %>
<main>
  <%- include(mainContentPartial, {
    username: username
  }) %>
</main>
<%- include('partials/workspace-footer.ejs') %>
<script src="/js/report.js" type="module"></script>
</body>
</html>