<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/reading-list.css" />
<link rel="stylesheet" href="/css/reading.css" />
<link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
<%- include('partials/workspace-lateral-bar.ejs') %>
<main>
  <%- include(mainContentPartial, {
    username: username
  }) %>
</main>
<%- include('partials/workspace-footer.ejs') %>
</body>
</html>