  <%- include('partials/head.ejs') %>
      <link rel="stylesheet" href="/css/timer.css">
      <script src="/js/timer.js" type="module" defer></script>
</head>
  <body>
    <%- include('partials/workspace-lateral-bar.ejs') %>
    <main>
        <%- include(mainContentPartial) %>
    </main>
    <%- include('partials/workspace-footer.ejs') %>
  </body>
</html>
