<footer class="d-flex justify-content-between">
    <div>
      <a class="link-dark" href="#" aria-label="Attention">
        <img src="./assets/atenttion-logo.png" alt="" class="logo-1">
      </a>
      <ul class="list-unstyled small text-muted">
        <li class="mb-2">Diseñado y construido con todo el amor del mundo por el equipo de</li>
        <li><a href="#" class="a-1">Attention team</a>
        <a href="#" class="a-1">© Copyright 2023</a></li>
      </ul>
    </div>
</footer>