<main>
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="stylesheet" href="/css/report.css">
    <article>
        <section>
            <div class="question-container" data-id="<%= readingId %>">
                <p class="question shadow-lg">Pregunta de prueba</p>
                <p class="timer border border-1 shadow-lg">
                    <i class="bi bi-clock mx-3"></i>
                    <span class="timer-text">00:00</span>
                </p>
            </div>
            <div class="options">
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">1</span>
                    <span class="option-text">Opcion 1</span>
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">2</span>
                    <span class="option-text">Opcion 2</span>
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">3</span>
                    <span class="option-text">Opción 3</span>
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">4</span>
                    <span class="option-text">Opción 4</span>
                </p>
            </div>
            <div class="score-container">
                <p class="score text-brand border border-3 shadow-sm">
                    <i class="bi bi-trophy"></i>
                    <span class="score-text">100</span>
                </p>
                <p class="w-50 mx-auto question-count text-brand shadow-sm border border-3">
                    <span class="question-count-current">1</span>
                    <span class="question-count-total">5</span>
                </p>
            </div>
        </section>
    </article>
</main>

    <template id="final-table-template" class="fs-4">
        <swal-title>
            
        </swal-title>
        <swal-html>
            <table class="report-table border-0 shadow py-3 px-5">
            <tbody>
                <tr>
                    <th class="corner top-left">Preguntas totales</th>
                    <th>10</th>
                </tr>
                <tr>
                    <th class="">
                        <i class="bi bi-check colored-item color-green"></i>
                        <span class="d-none d-md-inline mx-1 text-success">
                            Correctas
                        </span>
                    </th>
                    <th class="">
                        <span class="d-none d-md-inline mx-1">
                            10
                        </span>
                    </th>
                </tr>
                <tr>
                    <th class="corner top-right">
                        <i class="bi bi-x colored-item color-red"></i>
                        <span class="d-none d-md-inline mx-1 text-red">
                            Incorrectas
                        </span>
                    </th>
                    <th class="">
                        <span class="d-none d-md-inline mx-1">
                            10
                        </span>
                    </th>
                </tr>
                <tr>
                    <th class="corner top-right">
                        <i class="bi bi-trophy-fill colored-item color-blue"></i>
                        <span class="d-none d-md-inline mx-1 text-blue">
                            Puntaje
                        </span>
                    </th>
                    <th class="">
                        <span class="d-none d-md-inline mx-1">
                            10
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
        </swal-html>
    </template>
<script src="/js/quiz.js" type="module"></script>