<main>
    <article>
        <section>
            <div class="question-container">
                <p class="question shadow-lg">Pregunta de prueba</p>
                <p class="timer border border-1 shadow-lg">
                    <i class="bi bi-clock mx-3"></i>
                    00:00
                </p>
            </div>
            <div class="options">
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">1</span>Opcion 1
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">2</span>Opcion 2
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">3</span>Opcion 3
                </p>
                <p class="bi option text-brand border border-3 fs-2 shadow-sm">
                    <span class="mark">4</span>Opcion 4
                </p>
            </div>
            <div class="score-container">
                <p class="score text-brand border border-3 shadow-sm">
                    <i class="bi bi-trophy"></i>
                    100
                </p>
                <p class="w-50 mx-auto question-count text-brand shadow-sm border border-3">
                    <span class="question-count-current">1</span>
                    <span class="question-count-total">5</span>
                </p>
            </div>
        </section>
    </article>
</main>

<script src="./js/quiz.js" type="module"></script>