<main class="p-1">
    <h1 class="">Lista de textos</h1>
    <article class="m-3" id="reading-container">
        <section class="reading-card mt-5 shadow-lg">
            <div class="position-relative overflow-hidden reading-img flex-shrink-0">
                <img src="/assets/bg-placeholder-login.png" alt="" />
                <a class="overlay text-decoration-none" href="/readings/1">
                    <span class="d-flex fs-3 gap-3 text-white fw-bold">
                        <i class="bi bi-book"></i>
                        Leer
                    </span>
                </a>
            </div>
            <div class="px-3 px-md-2 py-3">
                <hgroup class="">
                    <span class="reading-category">Categoría</span>
                    <h3 class="reading-title">Título del texto</h3>
                </hgroup>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Saepe placeat, optio laborum tenetur illum
                    laudantium eligendi quas maxime, minus ab
                    consequatur. Tempore sint esse perspiciatis corrupti
                    voluptate. Dicta, voluptate iure!
                </p>
                <div class="reading-badges my-3">
                    <span class="badge bg-green fs-6">Historia</span>
                    <span class="badge bg-blue fs-6">Literatura clásica</span>
                    <span class="badge bg-yellow fs-6">Fácil</span>
                </div>
            </div>
        </section>
    </article>
</main>
<script src="/js/reading.js"></script>