<button id="new-timer" class="btn btn-primary-brand d-flex justify-content-center gap-3 align-items-center mx-auto mt-3">
    <i class="bi bi-plus-circle fs-2"></i>
    Nuevo temporizador
</button>
<article id="timer-container" class="timer-container vh-100 d-flex flex-wrap justify-content-center align-items-center align-content-center">
    <section class="m-4 d-flex justify-content-start align-items-center flex-column border shadow p-4">
        <h3 class="fs-2 fw-medium text-uppercase mt-2">Tiempo libre</h3>
        <div class="position-relative timer d-flex justify-content-center align-items-center m-auto">
            <svg class="flex-shrink-0" viewBox="0 0 36 36">
                <path
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  class="bg-circle"
                />
                <path
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  id="free-progress"
                />
            </svg>
            <span id="free" class="timer-text">00:00</span>
        </div>
    </section>
    <section class="m-4 d-flex justify-content-start align-items-center flex-column border shadow p-4">
        <h3 class="fs-2 fw-medium text-uppercase mt-2">Trabajo</h3>
        <div class="position-relative timer d-flex justify-content-center align-items-center m-auto bg-transparent">
            <svg class="flex-shrink-0" viewBox="0 0 36 36">
                <path
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  class="bg-circle"
                />
                <path
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  id="work-progress"
                />
            </svg>
            <span id="work"class="timer-text">00:00</span>
        </div>
    </section>
</article>
<article class="p-5 modal">
    <section class="modal-dialog modal-dialog-">
        <div class="modal-content">
            <div class="modal-header bg-primary-brand d-flex justify-content-center align-items-center">
                <h1 class="text-white modal-title p-4">Crear temporizador</h1>
                <button class="btn text-white p-4" data-bs-dismiss="modal" aria-label="close">
                    <i class="bi bi-x-lg fs-2"></i>
                </button>
            </div>
            <form class="bg-white shadow modal-body p-3">
                <label for="total-time" class="form-label">Elija el tiempo del temporizador: </label>
                <select name="total-time" class="form-select w-100 fs-2 m-2">
                    <option value="30">30 minutos</option>
                    <option value="45">45 minutos</option>
                    <option value="60">1 hora</option>
                    <option value="90">1 hora y 30 minutos</option>
                    <option value="120">2 horas</option>
                </select>
                <button type="submit" class="btn bg-primary-brand fs-2 mx-5 my-3">
                    Iniciar temporizador
                </button>
            </form>
        </div>
    </section>
</article>