<header class="lateral-bar">
    <button class="bg-transparent position-relative mb-5 mb-sm-0 d-sm-none slide-button">
        <a href="#" class="logo text-decoration-none">
          <img
            src="/assets/logo-1.png"
            alt="logo pequeño"
            id="logo-sw"
          />
        </a>
    </button>
  <nav class="position-fixed left-0 min-vh-100 z-3" id="offcanvas">
    <ul class="list-unstyled slide-button">
      <li class="d-flex justify-content-between align-items-center">
        <button class="bg-transparent">
            <a href="#" class="logo text-decoration-none">
              <img
                src="/assets/logo-1.png"
                alt="logo pequeño"
                id="logo-sw"
              />
              <span class="nav-item text-normal-case"><%= username %></span>
            </a>
        </button>
      </li>
      <li>
        <a href="/index.html" id="a-1" class="text-decoration-none">
          <i class="fas fa-home"></i>
          <span class="nav-item">INICIO</span>
        </a>
      </li>
      <li>
        <a href="#" id="a-1" class="text-decoration-none">
          <i class="fas fa-book"></i>
          <span class="nav-item">LECTURA</span>
        </a>
      </li>
      <li>
        <a href="#" id="a-1" class="text-decoration-none">
          <i class="fas fa-calendar"></i>
          <span class="nav-item">APRENDER JUGANDO</span>
        </a>
      </li>
      <li>
        <a href="./timer" id="a-1" class="text-decoration-none">
          <i class="fas fa-clock"></i>
          <span class="nav-item">TEMPORIZADOR</span>
        </a>
      </li>
      <li>
        <a href="./events" id="a-1" class="text-decoration-none">
          <i class="fas fa-calendar"></i>
          <span class="nav-item">AGENDA</span>
        </a>
      </li>
      <li>
        <a href="#" id="a-1" class="text-decoration-none">
          <i class="fas fa-columns"></i>
          <span class="nav-item">ESPACIO COLABORATIVO</span>
        </a>
      </li>
      <li>
        <a href="/log-out" id="a-1" class="logout text-decoration-none">
          <i class="fas fa-user"></i>
          <span class="nav-item">CERRAR SESIÓN</span>
        </a>
      </li>
    </ul>
  </nav>
</header>