@import url(../../css/register.css);

:root {
    --gradient-accent: linear-gradient(var(--clr-accent-400), var(--clr-accent-200));
}


article {
    max-width: 1000px;
}

.answer {
    flex-basis: 48%;
}

@media (max-width: 768px) {
    .answer {
        width: 100%;
    }
}

.border-accent {
    border: 2px solid var(--clr-accent-400);
    margin-inline: 0.2rem;
}

.bg-accent {
    background-color: var(--clr-accent-400);
    color: var(--clr-secondary-200);
}

.question {
    font-size: 1.5rem;
    padding-block: 1rem;
    padding-inline: 1.2rem;
    min-width: 75%;
    min-height: 25vh;
}

.answer-tag {
    border-radius: 50%;
    aspect-ratio: 1;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-accent-400);
    color: var(--clr-secondary-200);
    margin: 0.2rem;
    font-weight: bold;
}